$color-1: #c40000;
$color-2: #b90a0a;
$color-3: #fff;
$color-4: #212121;
$color-5: #000;
$font-family-1: Noto Sans JP;
$font-family-2: SVN-Gilroy;
$full: 100%;
$transform-center: translate(-50%, -50%);
$position-absolute: absolute;
